// BSNES colors in bootstrap theme
$red: #ea3938 !default;
$yellow: #ebeb1c !default;
$green: #00bc13 !default;
$cyan: #1893e9 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "red": $red,
    "green": $green,
    "yellow": $yellow,
    "cyan": $cyan,
  ),
  $theme-colors
);

.text-shadow-sm {
  text-shadow: 0.5px 0.5px #000 !important;
}
