<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{page.title}} | BSNES</title>
  <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary rounded mt-2 mx-2 mx-lg-auto">
    <a class="navbar-brand pt-0" href="{{ / | relative_url }}">
      <img src="{{ "/images/logo.png" | relative_url }}" height="100" alt="" class="d-none d-lg-inline">
      <img src="{{ "/images/icon.png" | relative_url }}" width="30" alt="" class="d-lg-none">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav nav nav-pills text-shadow">
        <li class="nav-item my-2 my-lg-auto text-center">
          <a class="nav-link bg-light rounded text-cyan mx-2" 
          href="{{ "/features" | relative_url }}">Features</a>
        </li>
        <li class="nav-item my-2 text-center">
          <a class="nav-link bg-light rounded text-red mx-2"
          href="{{ "/screenshots" | relative_url }}">Screenshots</a>
        </li>
        <li class="nav-item my-2 text-center">
          <a class="nav-link bg-light rounded text-yellow mx-2"
          href="{{ "/downloads" | relative_url }}">Downloads</a>
        </li>
        <li class="nav-item my-2 text-center">
          <a class="nav-link bg-light rounded text-green mx-2" target="_blank"
          href="https://github.com/bsnes-emu/bsnes">Contribute!</a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="main-content" class="container pt-2 pt-md-3">
    {{ content}}
  </div>

  <footer class="footer mt-auto py-3">
    <div class="container text-center">
      <span class="text-muted">
        ©
        <script type="text/javascript">
          document.write(new Date().getFullYear());
        </script> 
        bsnes</span>
    </div>
  </footer>

  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
    integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>